#include <windows.h>  
IDI_ICON1 ICON DISCARDABLE "res/cd2netmdgui.ico"  
#define VER_FILEVERSION 0,1,9,9
#define VER_FILEVERSION_STR "0,1,9,9"
#define PROD_VER_STR "1.9.9B3"
#define FILE_VER_STR "1.9.9B3"

#define VER_PRODUCTVERSION          VER_FILEVERSION
#define VER_PRODUCTVERSION_STR      VER_FILEVERSION_STR

#define COMP_NAME                   "Jo2003"
#define COPYRIGHT                   "(c)2022 - 2023 by Jo2003"
#define ORG_FILENAME                "NetMD Wizard.exe"
#define PROD_NAME                   "NetMD Wizard"
#define FILE_DESCR                  "NetMD Utility"
#define INT_NAME                    "cd2netmd_gui"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	VER_FILEVERSION
PRODUCTVERSION 	VER_PRODUCTVERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	0
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_DLL
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      COMP_NAME
            VALUE "FileDescription",  FILE_DESCR
            VALUE "FileVersion",      FILE_VER_STR
            VALUE "InternalName",     INT_NAME
            VALUE "LegalCopyright",   COPYRIGHT
            VALUE "LegalTrademarks1", ""
            VALUE "LegalTrademarks2", ""
            VALUE "OriginalFilename", ORG_FILENAME
            VALUE "ProductName",      PROD_NAME
            VALUE "ProductVersion",   PROD_VER_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x409, 1252

    END
END
